.testimonial .swiper-container {
  width: 100%;
  padding: 20px;
}

.testimonial .swiper-slide {
  display: flex;
  justify-content: center;
}

.testimonial .items {
  padding: 40px; /* Increase padding */
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial .img {
  position: relative;
}

.testimonial img {
  width: 120px; /* Increase image size */
  height: 120px; /* Increase image size */
  border-radius: 50%;
}

.testimonial i {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2a43cc;
  color: #fff;
}

.testimonial .name {
  margin: 25px;
}

.testimonial .name h2 {
  font-size: 24px; /* Increase heading font size */
  margin-bottom: 10px; /* Increase margin */
}

.testimonial .name span {
  color: #2a41b3;
  font-weight: bold;
  font-size: 18px; /* Increase span font size */
}

.testimonial p {
  margin-top: 30px; /* Increase margin */
  color: grey;
  transition: 0.5s;
}


.testimonial .items:hover {
  background-color: #6553dd;
  color: #fff;
  cursor: pointer;
}

.testimonial .items:hover span,
.testimonial .items:hover p {
  color: #fff;
}

.testimonial .items:hover i {
  background-color: #fff;
  color: #1eb2a6;
}


@media only screen and (max-width: 768px) {
  .testimonial .items {
    padding: 20px; /* Decrease padding for smaller screens */
  }

  .testimonial img {
    width: 100px; /* Decrease image size for smaller screens */
    height: 100px; /* Decrease image size for smaller screens */
  }

  .testimonial .name h2 {
    font-size: 20px; /* Decrease heading font size for smaller screens */
    margin-bottom: 5px; /* Decrease margin for smaller screens */
  }

  .testimonial .name span {
    font-size: 16px; /* Decrease span font size for smaller screens */
  }

  .testimonial p {
    margin-top: 20px; /* Decrease margin for smaller screens */
  }
}