@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,300;0,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@500&family=Work+Sans:wght@300;400;700;900&display=swap');

.expertc {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.expertpro {
    background-color: rgba(55, 41, 225, 0.25);
    margin-top: 50px;
}
.prohead {
    display: flex;
    align-items: center;
    justify-content: center;
     color: blue;
}
.service {
    background-color:rgba(55, 41, 225, 0.15) ;
    margin-top: 150px;        
    /* it could be chnage after adding up section */
}
.servicehead {
    display: flex;
  padding-top: 50px;
    align-items: center;
    justify-content: center;
    color:#D72222;
}
.service1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
    margin-top: 50px;
    padding: 50px;
}

.rightservice {
    display: flex;
  
  justify-self:flex-start;
    flex-direction: column;
}
.rightservice {
    max-width: 740px;
  margin-top: -100px;

}
.rightservice h3{
    color: #3729E1;
    font-weight: 700;
    padding-top: 20px;
}

.rightservice p{
 width: 530px;
}
.serviceimg {
    width: 493px;
    height: 350px;
   
}
.servicecard {
    background-color:rgba(55, 41, 225, 0.15) ;
    margin-top: 50px; 
}
.headings {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3729E1;
    padding-top: 30px;
}

.row1 {
    display: flex;
    padding: 100px;
    flex-direction: row;
    
}
 .card1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
 .card2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-left: 40px;
}
 .card3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-left: 40px;
}
 .card4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
 .card5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-left: 40px;
}
 .card6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-left: 40px;
}

.row2 {
    display: flex;
    padding: 100px;
    flex-direction: row;

}
.card1 img {
    /* Your styles here */
    margin: 20px;
    width: 100px; /* Example style */
    border: 2px solid #000; /* Example style */
    background-color: #e42f0b;
    
    border-radius: 50%;
}
.card2 img {
    margin: 20px;
    /* Your styles here */
    width: 100px; /* Example style */
    border-radius: 50%;
    background-color: #f4490b;
}
.card3 img {
    margin: 20px;
    /* Your styles here */
    width: 100px; /* Example style */
    border-radius: 50%;
    background-color: #dc3610;
}
.card4 img {
    margin: 20px;
    /* Your styles here */
    width: 100px; /* Example style */
    border-radius: 50%;
    background-color: #dc3610;
}
.card5 img {
    margin: 20px;
    /* Your styles here */
    width: 100px; /* Example style */
    border-radius: 50%;
    background-color: #dc3610;
}
.card6 img {
    margin: 20px;
    width: 100px; /* Example style */
    border-radius: 50%;
    background-color: #dc3610;
}
.card1 h2 {
    color: #3729E1;
    font-weight: 700;
    font-size: 18px;
   
   
}
.card2 h2 {
    color: #3729E1;
    font-weight: 700;
    font-size: 18px;
   
   
}
.card3 h2 {
    color: #3729E1;
    font-weight: 700;
    font-size: 18px;
   
   
}
.card4 h2 {
    color: #3729E1;
    font-weight: 700;
    font-size: 18px;
   
   
}
.card5 h2 {
    color: #3729E1;
    font-weight: 700;
    font-size: 18px;
   
   
}
.card6 h2 {
    color: #3729E1;
    font-weight: 700;
    font-size: 18px;
   
   
}
.card1 p{
    font-size: 16px;
    font-weight: 400;
   margin-left: 20px;
}
.card2 p{
    font-size: 16px;
    font-weight: 400;
   margin-left: 20px;
}
.card3 p{
    font-size: 16px;
    font-weight: 400;
   margin-left: 20px;
}
.card4 p{
    font-size: 16px;
    font-weight: 400;
   margin-left: 20px;
}
.card5 p{
    font-size: 16px;
    font-weight: 400;
   margin-left: 20px;
}
.card6 p{
    font-size: 16px;
    font-weight: 400;
   margin-left: 20px;
}

.reasons {
    background-color:rgba(55, 41, 225, 0.15) ;
    margin-top: 150px;        
   
}
.reasonhead {
    display: flex;
  padding-top: 50px;
    align-items: center;
    justify-content: center;
    color: #3729E1;
   
}
.leftreason {
    display: flex;
    align-items: start;
    flex-direction: column;
     margin-left: 30px;
     

}
.leftreason ul {
    list-style-type: circle; 
    
}

.leftreason li {
    margin-bottom: 25px; 
    color: #D72222;
    font-size: 18px;
    font-weight: 700;
}

.sidemain {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}





.rightreason {
    display: flex;
    justify-content: end;
    margin-left: 500px;
    max-width: 590px;
    height: 550;
    border-radius: 40px;
    padding-bottom: 120px;
}

.consel {
   margin-top: 100px;
   background-color:rgba(55, 41, 225, 0.15) ;
}

.conselh {
    display: flex;
    padding-top: 50px;
      align-items: center;
      justify-content: center;
      color: #3729E1;
}

.conselbox {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
  
  
   
}
.conbox1 {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: aliceblue;
    max-width:460px ;
    max-height: 400px;
    margin-left: 30px;
}

.conbox1 img {
    max-width:360px ;
    max-height: 300px;
}
.conbox1 h3{
    color: #3729E1;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.conbox2 {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: aliceblue;
    max-width:460px ;
    max-height: 400px;
    margin-left: 30px;
}