@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,300;0,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@500&family=Work+Sans:wght@300;400;700;900&display=swap');

.expertc {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.expertpro {
    background-color: rgba(55, 41, 225, 0.25);
    margin-top: 50px;
}
.prohead {
    display: flex;
    align-items: center;
    justify-content: center;
     color: blue;
}
.service {
    background-color:rgba(55, 41, 225, 0.15) ;
    margin-top: 150px;        
    /* it could be chnage after adding up section */
}
.servicehead {
    display: flex;
  padding-top: 50px;
    align-items: center;
    justify-content: center;
    color:#D72222;
}
.service1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
    margin-top: 50px;
    padding: 50px;
}

.rightservice {
    display: flex;
  
  justify-self:flex-start;
    flex-direction: column;
}
.rightservice {
    max-width: 740px;
  margin-top: -100px;

}
.rightservice h3{
    color: #3729E1;
    font-weight: 700;
    padding-top: 20px;
}

.rightservice p{
 width: 530px;
}
.serviceimg {
    width: 493px;
    height: 350px;
   
}