.mainform {
    margin-top: 100px;
    display: flex;
   justify-content: center;
   margin-bottom: 20px;
  
}
.gifform {
    height: 700px;
    width: 500px; /* Adjust as needed */
   
    margin-left: 100px;

}

.App {
    
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    overflow: hidden;
   
   
    text-align: center;
  display: flex;
  justify-content: flex-end;
  margin-left: 200px;
  margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 200px;
}



fieldset {
    border: none;
}

input {
    display: block;
    width: 100%;
    /* margin-bottom: 15px; */
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
}
input[type="radio"],
input[type="checkbox"] {
    display: inline;
    width: 10%;
}
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #110404;
    border-radius: 5px;
}

.labelform {
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: #360be0;
    font-weight: bold;
}

.buttonform {
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #101dd6;
    width: 40%;
    font-size: 16px;
}
textarea {
    border-radius: 5px;
    border: 2px solid rgb(50, 48, 48);
    resize: none;
    width: 98%;
    min-height: 100px;
    max-height: 150px;
}
  
  
  