.popupmain {
    position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  backdrop-filter: blur(20px);
}
.popbutton {
    position: absolute;
  font-size: 2.25rem; /* Equivalent to text-4xl in Tailwind CSS */
  color: rgb(255, 0, 0); /* Equivalent to text-white in Tailwind CSS */
  right: 1rem; /* Equivalent to right-4 in Tailwind CSS */
  top: 1rem;
  background: none; /* Black background with 50% opacity */
 
}

.popdiv {
    display: flex;
    align-items: center;
    height:85%;
    width: 3000px
    

  }
  .allpop {
    display: flex;
  flex-direction: column; /* Change the direction to column */
  align-items: flex-start; /* Align items to the start of the column */
  margin-bottom: 20px;
  margin: 10px; 
  margin-left: 30px;
  max-width: auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  /* .headingcoun {
   position: absolute;
    top: 0;
    margin-top: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0; 
     color: blue;
     font-family:'Times New Roman', Times, serif;
    z-index: 1; 
  } */
 
   
.headtop {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(250, 11, 11);
}
.parapop {
  font-weight: 500;
 display: flex;
 align-items: center;
}

  .allpop img {
    width: 180px;
    height: 400px;
    margin-bottom: 15px;
  }
  
  .allpop h4 {
     padding-top: 18px;
    margin-bottom: 25px;
    font-size: 20px;
    margin-left: 45px;
    padding-right: 3px;
 
  }
  
  .allpop h1 {
    margin-bottom: 35px;
    font-size: 14px;
    color: rgb(43, 7, 245);
    margin-left: 70px;
 
  }
  
  .allpop p {
    font-size: 14px; 
    margin-bottom: 35px;
    margin-left: 30px;
    padding-right: 8px;
   
  }
  
  .allpop button {
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 15px;
    }
  
  
  @media (min-width: 640px) {
    .popdiv {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  
  @media (min-width: 768px) {
    .popdiv {
      margin-left: 20%;
      margin-right: 20%;
    }
  }
  
  .popdiv {
    background-color: #fff;
    align-items: center;
    justify-content: center;
  }

  .poph1 {
    font-size: 4rem; /* Equivalent to text-6xl in Tailwind CSS */
    color: #000;
  }