/*--------head------------*/
.head {
    padding: 10px 0;
    color: #294cd9;
    margin-left: 50px;
   
   
    
  }
  .logo h1 {
    font-size: 25px;
    font-weight: 900;
  }
  .head .icon {
    margin-left: 10px;
  }
  /*--------head------------*/
  /*--------header------------*/
  header {
    background-color: rgba(230, 218, 218, 0.2);
    margin: 0 30px;
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    margin-top: -30px;
    margin-left: -20px;
  }
  header .nav {
    display: flex !important;
   
  }
  .flexSB {
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 0 auto;
  }
  header li {
    margin-right: 40px;
    
    
  }
  header ul {
    padding: 30px 20px;
  }
  
  header ul li a {
    color: #020800;
    font-weight: 500;
    transition: 0.5s;
  }
  header ul li a:hover {
    color: #f33527;
    text-decoration: none;
  color: #333; /* Default text color */
  padding: 10px;
  position: relative
  }
  .start {
    background-color: #0f3dd3;
    padding: 30px 70px;
    color: #fff;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  div.social {
    position: relative;
    top: 23px;
    margin-left: 20px;
}

  
  .toggle {
    display: none;
  }
  /*--------header------------*/
  @media screen and (max-width: 768px) {
    .start {
      clip-path: none;
    }
    header {
      margin: 0;
      background-color: #1eb2a6;
      position: relative;
    }
    header ul.flexSB {
      display: none;
    }
    header ul li {
      margin-bottom: 20px;
    }
    .toggle {
      display: block;
      background: none;
      color: #fff;
      font-size: 30px;
      position: absolute;
      right: 0;
      top: -20px;
    }
    .mobile-nav {
      position: absolute;
      top: 7vh;
      left: 0;
      width: 100%;
      background-color: #1eb2a6;
    }
  }