.hero {
    background-image: url("../../../../public/images/study_abroad.gif");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-top: 30%;
    padding-right: 50px;
    color: #332294;
  }
  .hero #heading h3 {
    color: #3440c0;
   width: 400px;
  

  
   
  }
  .hero #heading {
    text-align: left;
    margin: 0;
    padding: 0;
    
   
  }
 
 
  
  @media screen and (max-width: 768px) {
    .margin {
      height: 40vh;
    }
    .hero {
      padding-top: 50%; /* Adjust padding for smaller screens */
      padding-right: 20px; /* Adjust padding for smaller screens */
    }
  
    .hero #heading h3 {
      width: 100%; /* Make the width full for smaller screens */
      font-size: 24px; /* Decrease font size for smaller screens */
    }
    .hero .row {
      width: 100%;
    }
  }