@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,300;0,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@500&family=Work+Sans:wght@300;400;700;900&display=swap');
.team .items {
    transition: 0.5s;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.06);
  }
  .team .img {
    position: relative;
  }
  .team img {
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    padding: 20px;
    opacity: 0;
    transition: 0.5s;
  }
  .overlay i {
    background-color: #000;
    color: #fff;
    margin: 5px;
    transition: 0.5s;
  }
  .team .details {
    padding: 30px;
    text-align: center;
  }
  .team .details h2 {
    font-weight: 500;
    font-size: 20px;
    transition: 0.5s;
  }
  .team .details p {
    font-size: 15px;
    color: grey;
    margin-top: 10px;
    transition: 0.5s;
  }
  .team .items:hover {
    background-color: #227eda;
    color: #fff;
    cursor: pointer;
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .team .items:hover p {
    color: #fff;
  }
  .team .items:hover .overlay {
    opacity: 1;
  }
  .team .items:hover .overlay i:hover {
    background-color: #113ed2;
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    .team .details {
      padding: 10px; /* Decrease padding */
    }
  
    .team .details h2 {
      font-size: 16px; /* Decrease font size */
    }
  
    .team .details p {
      font-size: 12px; /* Decrease font size */
    }
  
    .overlay {
      padding: 10px; /* Decrease padding */
    }
  }

  .teamheading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background:  #453ae6;
    height: 200px;
  }
  .teamheading h1{
    font-size: 68px;
    color: white;
    font-family:"Poppins", sans-serif;
  }