.aboutHome {
    height: auto;
}

.aboutHome #heading {
    text-align: left;
    padding:0;
}

.aboutHome .left img {
    width: 100%;
    height: 90%;
    object-fit:cover;
    margin-top: 30px;

}

.aboutHome .right {
    padding: 80px 50px;
}

.aboutHome .items { 
    margin-top: 50px;
}

.aboutHome .item {
  
    margin-top: 30px;
    padding: 20px;
    transition: 0.5s;
}
.aboutHome .img {
    width: 100px;
    height:auto;
}
.aboutHome img {
    width: 100px;
    height: 100px;
}

.aboutHome .item h2 { 
   font-size: 20px;
   margin-bottom: 15px;
}

.aboutHome .item p {
    color:#999999;
}

.aboutHome .item:hover {
    background-color: #2a43cc;
    color:#fff;
    cursor: pointer;
    border-radius: 20px; /* Add border radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.aboutHome .item:hover p {
    color:#fff;

}

-------------awrapper-----------
 .awrapper { 
    background-image: url("../../../public/images/awrapper.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
    color: #f6f5f5;

}
.awrapper .box {
    padding: 70px 0;

}
.awrapper img {
    margin-right: 30px;
    background-color: rgba(244, 244, 244, 0.252);
   
    box-shadow: #999999 1px;
    
  border-radius: 5px;
}
.awrapper h1 {
    font-size: 50px;
}
.awrapper h3 {
    font-size:20px;
    font-weight: 500;
}


/* ------------awrapper----------- */
@media only screen and (max-width: 768px) {
    .aboutHome .right {
        padding: 50px 30px; /* Adjust padding for smaller screens */
    }
    
    .aboutHome .item {
        padding: 15px; /* Adjust padding for smaller screens */
    }
    
    .aboutHome .img {
        width: 100px; /* Adjust image width for smaller screens */
    }
    
    .aboutHome img {
        width: 50px;
        height: 50px;
    }
    
    .aboutHome .item h2 { 
       font-size: 18px; /* Adjust font size for smaller screens */
    }
}

 @media screen and (max-width:768px) {
    .aboutHome .right {
        padding: 50px 30px; /* Adjust padding for smaller screens */
    }

    .aboutHome .item {
        padding: 15px; /* Adjust padding for smaller screens */
    }

    .aboutHome .img {
        width: 80px; /* Adjust image width for smaller screens */
    }

    .aboutHome img {
        width: 50px;
        height: 50px;
    }

    .aboutHome .item h2 {
        font-size: 18px; /* Adjust font size for smaller screens */
    }
}