.aboutHome {
    height: auto;
   
    padding-top: 30px;
}

.aboutHome #heading {
    text-align: left;
    padding:0;
}

.aboutHome .left img {
    width: 100%;
    height: 85%;
    object-fit:cover;
    margin-top: 65px;
  

}


.aboutHome .right {
    padding: 80px 50px;
  
    
}

.aboutHome .items { 
    margin-top: 50px;
    margin-left: 15px; /* Adjust the value as needed */
   
}


.aboutHome .item {
    
   
 
    padding: 20px;
    transition: 0.5s;
}
.aboutHome .img {
    width: 100px;
    background-color:none;
    padding-left: 20px;
  
    
}
.aboutHome img {
    
    width: 70px;
    height: 70px;
    margin-left: -20px;
    
}

.aboutHome .item h2 { 
   font-size: 20px;
   margin-bottom: 5px;
}

.aboutHome .item p {
    color:#999999;
}

.aboutHome .item:hover {
    background-color: #2a43cc;
    
    cursor: pointer;
    border-radius: 20px; /* Add border radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.aboutHome .item:hover p {
    color:#fff;

}

-------------awrapper-----------
 .awrapper { 
    background-image: url("../../../public/images/awrapper.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
    color: #f6f5f5;
   

}
.mainwrapper {
    background-color: #453ae6;
}
.awrapper .box {
    padding: 70px 0;
    

}
.awrapper img {
    margin-right: 30px;
      
  background: #eae7e7;
    box-shadow: #999999 1px;
    
  border-radius: 5px;
}
.awrapper h1 {
    font-size: 50px;
    color: #f6f5f5;
}
.awrapper h3 {
    font-size:20px;
    font-weight: 500;
    color: #f6f5f5;
}



/* ------------awrapper----------- */
@media only screen and (max-width: 768px) {
    .aboutHome .right {
        padding: 50px 30px; /* Adjust padding for smaller screens */
    }
    
    .aboutHome .item {
        padding: 15px; /* Adjust padding for smaller screens */
    }
    
    .aboutHome .img {
        width: 100px; /* Adjust image width for smaller screens */
    }
    
    .aboutHome img {
        width: 50px;
        height: 50px;
    }
    
    .aboutHome .item h2 { 
       font-size: 18px; /* Adjust font size for smaller screens */
    }
}

 @media screen and (max-width:768px) {
    .aboutHome .right {
        padding: 50px 30px; /* Adjust padding for smaller screens */
    }

    .aboutHome .item {
        padding: 15px; /* Adjust padding for smaller screens */
    }

    .aboutHome .img {
        width: 80px; /* Adjust image width for smaller screens */
    }

    .aboutHome img {
        width: 50px;
        height: 50px;
    }

    .aboutHome .item h2 {
        font-size: 18px; /* Adjust font size for smaller screens */
    }
}