img[src='./images/back2'] {
  background-size: cover;
  background-attachment: fixed;
 

  z-index: -1;
  width:100%;
  height: 100%;

  
}
.coursesCard {
    padding: 50px 0;
  }
  .coursesCard .items {
    background-color: #fff;
    padding: 30px;
    text-align: center;
  }
  .coursesCard .img {
    width: 90px;
    height: 90px;
    background-image: cover;
    
    background-color: #ffffff43;
    padding: 15px;
  }
  .coursesCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .coursesCard .text {
    margin-left: 15px;
    text-align: left;
  }
  .coursesCard .text h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
  }
  .coursesCard .rate {
    margin: 20px 0;
    color: #62680a;
  }
  .coursesCard .rate i {
    font-size: 13px;
    margin-right: 5px;
    color: #f3e81e;
  }
  /* .coursesCard .details .dimg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  } */
  .coursesCard .details .box {
    display: flex;
    align-items: center;
    color: grey;
  }
  .coursesCard .details span {
    color: #eb6d46;
    font-weight: 500;
    font-size: 14px;
  }
  .coursesCard .price {
    margin: 30px 0;
    background-color: #f8f8f8;
   
    padding: 10px;
  }
  .coursesCard h3 {
    font-weight: 500;
    color: #de6936;
  }
  /*-------------online---------*/
 
  .online {
    text-align: center;
  }
  .online .box {
    box-shadow: 20px 20px 20px 20px rgba(6, 6, 6, 0.06);
    background-color: #ffffff;
    padding: 30px 10px;
    transition: 0.5s;
    color: #e0d8d8;
    margin: 20px; /* Add margin to create gap between boxes */
  }
  .online .img {
    width: 100px;
    height: 150px;
    margin: auto;
    position: relative;
    object-fit: cover;
  }
  .online img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .online h1 {
    font-weight: 500;
    font-size: 20px;
    margin: 20px 0;
    line-height: 30px;
  }
  .online span {
    background-color: #52a3ea;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 15px;
    color: #1f1e1e;
    border-radius: 5px;
  }
  .online span:hover{
    color: #f7f5f5;
    background-color: rgb(244, 70, 70);
  }
  .online .box .show {
    opacity: 0;
  }
  .online .box:hover {
    background-color: rgb(33, 89, 220);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(88, 12, 12);
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .online .box:hover .show {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .online .box:hover h1 {
    color: #181717;
  }
  /*-------------online---------*/
  @media screen and (max-width: 768px) {
  }