@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,300;0,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@500&family=Work+Sans:wght@300;400;700;900&display=swap');

.onlinec {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
.onlineimg {
    display: flex;
    justify-content: center;
  
}
.onlineimg1 {
    width: 2000px;
    position: relative;
    height: full;
    object-fit: cover;
    border: 1px solid black;
    background-color:  #1f0cf559    ;
    opacity: 80%;
     
     
}
.onlinein {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    margin-top: 200px;
   margin-left: 200px;
   margin-right: 100px;
   
 
}
.onlineh1 {
    font-size: 22px;
    gap: 40px;
    color: white;
    background-color: rgba(55, 41, 225, 0.75); /* Equivalent to #3729E1A6 with 75% opacity */

    padding: 20px 200px;
    text-align: center;
    margin-bottom: 5rem;
    border-radius: 10px;
}
.onlineh2 {
  font-size: 20px;
  gap: 20px;
  color: white ;
  background-color: rgba(55, 41, 225, 0.75); /* Equivalent to #3729E1A6 with 75% opacity */
  padding: 2rem;
  text-align: center;
  margin-bottom: 6rem;
  border-radius: 10px;
}
.onlineb {
    background-color: red;
    color: white;
    padding: 20px 50px;
    border-radius: 10px;
}

.popular {
border: 2px solid black;
margin-top: 100px;
display: flex;
flex-direction: column; /* Display children elements vertically */
  align-items: center;
}
.headingpopu {
    margin-top: 10px;
 
    color: #3729E1;
    text-align: center;
    
}
.leftsidep {
  margin-left: -1080px;

}
.h3p {
    color: #D72222;
    margin-left: 5px;
    font-size: 23px
}
.leftbox {
    background-color: #D9D9D9;
    width: 180px;
    height: auto;
    font-family: "Poppins", sans-serif;
    color: #3729E1;
}
.ulleft {
 margin-left: 23px;
 margin-bottom: 20px;
 font-weight: bold;
 
}
.lileft {
    padding-bottom: 20px;
    margin-right: 5px;
}
.rightsidep {
    border: 1px solid black;
    width: 973px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 
    margin-left: 400px; /* Increase the right margin */
 margin-top: -200px;
}
.explorep {
    width: 2200px;
    height: full;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    
    background: rgba(55, 41, 225, 0.15);
 
}
.explorep1 {
    flex-direction: column;
    
    top: 0.875rem;
    max-height: 400px;
    margin-left: 80px;
}
.exploreh {
    font-size: 22px;
    font-weight: 700;
    color: #3729E1;
    margin-bottom: 20px;
   
}
.explorepara {
    width: 500px;
    margin-top: 20px;
   
}
.exploreimg {
     
    display: flex ;
    margin-left: 200px;
    top:40px;
   
    height: 390px;
    width:466px;
}
.data {
    width: 2200px;
    background: rgba(55, 41, 225, 0.15);
    display: flex;
    flex-direction: row;
   
   
}
.dataimg {
    height:367px ;
    width: 506px;
    margin-top: 80px;
    margin-left: 80px;
}
.datacon {
display: flex;
flex-direction: column;
margin-top: 90px;
margin-left: 90px;

border: 2px solid black;
}
.datah {
    font-size: 22px;
    font-weight: 700;
    color: #3729E1;
    margin-bottom: 20px;
}
.datap {
    margin-top: 20px;
      margin-bottom: 20px;                                                            
}
.numbers {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.firstn {
border: 3px solid red;
margin-left: 10px;
padding: 4px;


}
.firstn h2 {
    color: #3729E1;

}
.first p {
    font-family: 16px;
   
   
}
.secondn {
    border: 3px solid red;
    padding: 4px;
}
.secondn  h2 {
    color: #3729E1;
}
.secondn p {
    font-family: 16px;
}
.thirdn {
    border: 3px solid red;
    padding: 4px;
    margin-left: 10px; /* Adjust as needed */
    margin-right: 10px;
}
.thirdn h2 {
    color: #3729E1;
}
.third p {
    font-family: 16px;
}