.onlinec {
  
}
.onlineimg {
    display: flex;
    justify-content: center;
     
}
.onlineimg1 {
    width: 2000px;
    position: relative;
    height: full;
    object-fit: cover;
    border: 1px solid black;
     
}