.blog img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.blog .text {
    padding: 40px 30px ;

}

.blog h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0;
    transition: 0.5s ;

}

.blog h1:hover {
    color: #0d0d0e;
    cursor: pointer;
}

.blog span {
    text-transform: uppercase;
    font-weight: 500;
    color:#782706;
}

.blog span label {
    margin-left: 10px;
    color: rgb(202, 28, 28);
    font-size: 14px;
}


.blog span:nth-last-child(1) label {
    color:#952626;

}
.blog p {
    color:rgb(9, 9, 9);
}
.journelheading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background:  #453ae6;
    height: 200px;
  }
  .journelheading h1{
    font-size: 68px;
    color: white;
    font-family:"Poppins", sans-serif;
  }



    
   /* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .blog .text {
        padding: 20px; /* Increase padding for smaller screens */
        margin-bottom: 30px; /* Add more margin bottom to create larger gap */
    }

    .blog h1 {
        font-size: 20px; /* Increase font size for smaller screens */
        line-height: 28px; /* Increase line height for smaller screens */
        margin: 15px 0; /* Increase margin for smaller screens */
    }

    .blog span label {
        margin-left: 5px; /* Increase margin for smaller screens */
        font-size: 12px; /* Increase font size for smaller screens */
    }

    /* Add margin bottom to create gap between blog items */
    .blog .blog-item {
        margin-bottom: 20px;
    }
}

