.blog img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.blog .text {
    padding: 40px 30px ;

}

.blog h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0;
    transition: 0.5s ;

}

.blog h1:hover {
    color: #0d0d0e;
    cursor: pointer;
}

.blog span {
    text-transform: uppercase;
    font-weight: 500;
    color:#782706;
}

.blog span label {
    margin-left: 10px;
    color: rgb(202, 28, 28);
    font-size: 14px;
}


.blog span:nth-last-child(1) label {
    color:#952626;

}
.blog p {
    color:rgb(9, 9, 9);
}