



.items img {
  width: 100%; /* Ensure the cover image fills the container */
  height: 100%; /* Ensure the cover image fills the container */
  transition: opacity 0.3s ease; /* Add transition effect */
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.06);
  
}



.price .items {
    padding: 40px;
    text-align: center;
    box-shadow: 30px 30px 30px 30px rgba(6, 6, 6, 0.06)
  }
  .price h1 {
    font-size: 50px;
    margin: 20px 0;
    color: #000000;
  }
  .price h1:hover{
    color: rgb(68, 110, 186);
  }
  .price h1 span {
    font-size: 20px;
    margin-right: 5px;
    color: #f4823f;
  }
  .price p {
    color: rgb(14, 13, 13);
    margin: 40px 0;
  }

  /*--------------faq-------------*/
  .faq .container {
    max-width: 70%;
    border-radius: 5px;
  }
  .faq .box {
    background-color: #fff;
    margin-bottom: 20px;
  }
  .faq button {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
    background-color: rgb(87, 87, 162);
    color: white;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.08);
  }
  .faq h2 {
    font-weight: 500;
  }
  .faq p {
    padding: 20px;
  }
  .faq .accordion:hover {
    background: linear-gradient(to right, rgb(115, 115, 245) 60%, rgb(238, 82, 82) 40%);
    color: #040404;
    box-shadow: 0px 2px 4px rgba(1, 11, 35, 0.4);
    font:bolder;
  }
  
  /*--------------faq-------------*/
  /* Apply responsive styles for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .faq .container {
    max-width: 90%; /* Decrease max-width for smaller screens */
  }

  .faq button {
    padding: 15px; /* Add padding */
    font-size: 14px; /* Decrease font size */
  }

  .faq h2 {
    font-size: 18px; /* Decrease font size */
  }

  .faq p {
    padding: 10px; /* Decrease padding */
  }

  .faq .accordion:hover {
    background: none; /* Remove gradient on hover for smaller screens */
    color: inherit; /* Inherit text color on hover */
    box-shadow: none; /* Remove box shadow on hover */
    font-weight: normal; /* Reset font weight on hover */
  }
}
