/* page.css */

.usa-page {
    padding: 20px;
    background-color: #f7f7f7;
    
  }
  .img1 {
    position: relative; /* Make the container a positioning context */
    display: inline-block; /* Ensure it only takes up the space it needs */
    height: 100%;
    width: 95%;
    margin: 0 auto; /* Center the container horizontally and give it a gap from the right and left sides */
    top: 60px; /* Move the container 60 pixels downward */
  }
  .span1{
   color: blue;
  }
  
  
  .heading1 {
    position: absolute;
    color: #b82323;
    top: 15%; /* Move the text 20% from the top of the container */
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px auto 0; /* Add margin-top to move the heading downward */
    text-align: center;
   
  }
  
  .para1 {
    position: absolute;
    top: 22%; /* Move the text 27% from the top of the container */
    left: 50%;
    color: red;
    transform: translate(-50%, -50%);
    margin: 20px auto 0; /* Add margin-top to move the paragraph downward */
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }
  
  .headingc {
    color: #2332b8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px; /* Add margin-top to move the heading downward */
  }
  
  .parac {
    color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Add margin-top to move the paragraph downward */
  }
  
  .titlec {
    color: #a72828;
  }
  
  .img2 {
    position: relative;
    
  }
  .topic{
    color: #2332b8;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* /* .buttons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  } */
   */
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 20px;
  }
  
  .parac {
    margin-bottom: 20px;
  }
  
  /* Additional CSS styles can be added as needed */
  