@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,300;0,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@500&family=Work+Sans:wght@300;400;700;900&display=swap');
/* page.css */


.usa-page {
    padding: 20px;
   
    font-family: "Poppins", sans-serif;
    margin-right: 25px; /* Adds a gap of 20 pixels on the right side */
    margin-left: 25px;
    
  }
  .img1 {
    position: relative; /* Make the container a positioning context */
    display: inline-block; /* Ensure it only takes up the space it needs */
    height: 100%;
    width: 95%;
    margin: 0 auto; /* Center the container horizontally and give it a gap from the right and left sides */
    top: 65px; /* Move the container 60 pixels downward */
  }
  
  .span1 {
   color: rgb(45, 63, 200);
  }
   

  .span-red {
    color: red;
  }
  
  .heading1 {
    position: absolute;
    color: #e6302d;
    top: 15%; /* Move the text 20% from the top of the container */
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px auto 0; /* Add margin-top to move the heading downward */
    text-align: center;
    font-size: 23px;
   
   
  }
  
  
  .para1 {
    display: inline;
    position: absolute;
   
    top: 22%; /* Move the text 27% from the top of the container */
    left: 50%;
    color: rgb(30, 62, 165);
    transform: translate(-50%, -50%);
    margin: 20px auto 0; /* Add margin-top to move the paragraph downward */
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  
  .headingc {
    color: #2332b8;
    font-size: 20px;
    margin-top: 80px; /* Add margin-top to move the heading downward */
  }
  
  .parac {
    color: #0e0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    font-weight: 500;
  }
  
  .titlec {
    color: #a72828;
  }
  .h2-blue {
    color: #2332b8;
    font-size: 20px;
  }
  .img2 {
    position: relative; /* Set the position of the image container to relative */
    display: flex; /* Display the image container as a flex container */
    align-items: center; /* Align items vertically in the center */
  }
  
  .buttons {
    position: absolute; /* Set the position of the buttons container to absolute */
    top: 230%; /* Align the buttons vertically in the middle */
    right: 20%; /* Align the buttons to the right side of the image */
    transform: translateY(-50%); /* Move the buttons up by half of its height */
    display: flex; /* Display the buttons container as a flex container */
    flex-direction: column; 
    /* Arrange the buttons vertically */
  }
  
  .buttons button {
    margin-top: 70px; /* Add margin to the top of each button for spacing */
    padding: 10px 40px; /* Add padding to the buttons */
    background-color: #d83e26; /* Set the background color of the buttons */
    color: #fff; /* Set the text color of the buttons */
    border: none; /* Remove border from the buttons */
    border-radius: 15px; /* Add border radius to the buttons */
    cursor: pointer; /* Set cursor to pointer for buttons */
  }
  
  .buttons button:hover {
    background-color: #0056b3; /* Change background color on hover */
  }
  
  .pushdown {
    margin-top: 25px;
  }
  .parat {
    margin-bottom: 20px; 
    font-weight: 500;/* Add margin bottom to create space between paragraphs */
  }
  
.h3-red {
 color: rgb(237, 71, 71);
}
.span-blue {
  color: #2332b8;
}

.ui-de {
 list-style: circle;
}

.li-de {
  margin-bottom: 15px;
  font-weight: 500;
}
.impp {
  color:  #2332b8;
  font-size: 16px;
  font-weight: 700;
}


  .topic {
    font-weight: 500;
    color: #2332b8;
    
  }
  
  /* .buttons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #d90d0d;
    
  } */

  .table-s {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 1.5rem;
     width: 70%;
     
     overflow-x: auto;
  }
  .table-og {
    width: 100%;
    
    color: #718096;
    text-align: left;
    font-size: 0.875rem;
  }
  .thead {
    background: rgb(206, 212, 221) ;
    color: #4a5568;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    

  }
  .th-scope {
    
    padding-left: 2.5rem; /* Adjust the horizontal padding as needed */
    padding-right: 2.5rem;
    padding-top: 2.5rem; /* Adjust the vertical padding as needed */
    padding-bottom: 0.75rem;
    border-width: 3px; /* Adjust the border width as needed */
    border-style: solid;
    border-color: #c40e0e;
    font-weight: 600;
    color: #171ac5;
    
  
   
  }
  .th-scope2 {
    padding-left: 1.5rem; /* Adjust the horizontal padding as needed */
    padding-right: 1.5rem;
    padding-top: 0.75rem; /* Adjust the vertical padding as needed */
    padding-bottom: 0.75rem;
    border-width: 2px; /* Adjust the border width as needed */
    border-style: solid;
    border-color: #d90d0d; 
    font-weight: 700;
    color: #ee0e0e;
    line-height: 30px;
    
  }
  .tr1 {
    background: rgb(206, 212, 221) ;
    border: black;
    
  }
  .p-table {
    font-size: 16px;
    font-weight: 500;
  }
  .gap {
    display: block; /* Ensure the span is displayed as a block-level element */
    margin-top: 20px;/* Adjust the margin bottom as needed */
}
  
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 20px;
  }
  
  .parac {
    margin-bottom: 20px;
  }
  
  /* Additional CSS styles can be added as needed */
  