@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body {
  font-family:"Roboto", sans-serif;
  background-color: #ffffff;

}
/* --------global------- */
.container {
  max-width: 80%;
  max-height: 70%;
  margin: auto ;

}
.flexSB {
  display: flex;
  justify-content: space-between;
  
}
.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(198, 244, 239, 0.3);
  color:#3e2946;
  transition: 0.5s;
}
.icon:hover {
  cursor: pointer;
  background-color: #054f83;
  color:#fff
}
a {
  text-decoration: none;

}
li {
  list-style-type: none;

}
.row {
  width:50%;

}
button {
  padding: 17px 30px;
  background-color: #fff;
  color:#2979e2;
  font-weight: 600;
  border:none;
  margin: 30px 10px 0 0 ;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 /9%);
  transition:0.5s;

}
button i {
  margin-left: 20px;

}
button:hover {
  box-shadow:none;
}
.primary-btn {
  background-color: #215fb5;
  color: #fff;

}

/* --------global----------- */

#heading {
  text-align:center;
  padding: 40px 0;

}
#heading h3 {
  font-weight: 600;
  letter-spacing: 1px;
  color:#033115;
  text-transform: uppercase;

}
#heading h1 {
  font-size: 45px;
  margin: 20px 0 ;
  text-transform: capitalize;

}
p { 
  line-height: 30px;
  font-size: 18px;
}


.back {
  background-image: url("../public/images/back.webp");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  width:100%;
  height: 90vh;
  padding-top: 30%;
  padding-right: 50px;
  color:#424141;
  text-align: center;

}
.back h1 { 
  font-size: 100px;
  font-weight: 400;

}
.back h2 {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
}
.margin {
  margin-top: 40.3%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap : 30px;

}
.flex {
  display: flex;

}
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:30px;
}
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #65e4dc;
  background-color: #4e62c5;
  color: white;
  width: 100%;
  transition: 0.5s;
}
.outline-btn:hover {
  background-color: #729cb6;
  color:#fff;

}
.grid3 {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap:10px;

}
.padding {
  padding: 80px 0;

}
.shadow {
  box-shadow: 0 5px 25px -2px rgba(22, 22, 22, 0.06);
  background-color: #fff;
}

@media screen and (max-width:768px) {
  .grid2,
  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }


  .back { 
    background-position: center;
    padding-top: 50%;
    height:80vh;
  }
}
